<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Angular.UI.Bootstrap" version="2.3.2" targetFramework="net451" />
  <package id="angularjs" version="1.6.1" targetFramework="net451" />
  <package id="bootstrap" version="3.3.7" targetFramework="net451" />
  <package id="Bridge.CanvasJS" version="1.0.0" targetFramework="net451" />
  <package id="Chart.js" version="2.4.0" targetFramework="net451" />
  <package id="jQuery" version="2.2.4" targetFramework="net451" />
  <package id="jquery.svgDoughnutChart.js" version="0.1" targetFramework="net451" />
  <package id="MaterialDesignColors" version="1.1.3" targetFramework="net451" />
  <package id="MaterialDesignThemes" version="2.2.1.750" targetFramework="net451" />
</packages>